.conteiner-text {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.container-time {
  width: 49%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container-experience {
  width: 49%;
}
.container-time i {
  color: var(--color-orange);
}
.text-time {
  font-size: var(--font-size16);
  line-height: var(--line-height-text);
}
.headign-experience {
  font-size: var(--font-size16);
  line-height: var(--line-height-text);
  font-weight: 600;
  margin-bottom: 15px;
}
.post {
  font-size: var(--font-size16);
  line-height: 20px;
  font-style: italic;
  margin-bottom: 15px;
}
.experience-text {
  font-size: var(--font-size16);
  line-height: var(--line-height-text);
}

@media screen and (max-width: 1280px) {
  .conteiner-text {
    padding: 0 30px;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .conteiner-text {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  
  .container-time {
    margin-bottom: 20px;
    width: 100%;
  }
  .container-experience {
    width: 100%;
  }
}
