.menu__toggle {
  opacity: 0;
}
.menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
.menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff0000;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: absolute;
  top: 0;
  right: -100%;
  width: 35%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 90;
}

