.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.foto-container {
  z-index: 5;
  width: 380px;
  border: 15px solid var(--color-black);
  border-radius: 50%;
  overflow: hidden;
  background: var(--color-orange);
  position: relative;
  left: 100px;
}
.img {
  width: 360px;
  position: relative;
  top: 30px;
  left: 5px;
}

.person-container {
  width: 100%;
  background: var(--color-orange);
  padding: 40px 0 40px 80px;
  position: absolute;
  left: 450px;
  z-index: 1;
}
.name {
  font-size: var(--font-size50);
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 500;
  line-height: 80px;
}
.position {
  font-size: var(--font-size35);
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-white);
  line-height: 50px;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    display: block;
    margin-bottom: 100px;
  }
  .foto-container {
    left: 0;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .person-container {
    position: relative;
    left: 0;
    text-align: center;
    padding: 30px 0 30px 0px;
  }
}

@media screen and (max-width: 768px) {
  .foto-container {
    width: 60%;
    border: 8px solid var(--color-black);
  }
  .img {
    width: 100%;
  }
  .name {
    font-size: 7vw;
    line-height: 7vw;
  }
  .position {
    font-size: 4vw;
    line-height: 7vw;
  }
}
@media screen and (max-width: 576px) {
}
