.wrapper {
  background: var(--color-black);
  width: 35%;
  padding: 420px 60px 70px 60px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 420px 40px 70px 40px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    padding: 50px 60px 70px 60px;
  }
}
