.wrapper {
  width: 90%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-container {
  width: 670px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  overflow: hidden;
}
.slider-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  position: relative;
  transition: all 1s;
}
.button {
  background: none;
  border: none;
  font-size: var(--font-size35);
  cursor: pointer;
  color: var(--color-black);
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
  .display-container {
    width: 80vw;
  }
  .button {
    font-size: 6vw;
  }
}
