.wrapper {
  width: 90%;
  margin-bottom: 250px;
}
.container-info {
  padding-left: 100px;
}
.decor {
  background: var(--color-orange);
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin-bottom: 150px;
  }
  .container-info {
    padding: 0 30px;
  }
}
