.wrapper {
  width: 90%;
  margin-bottom: 50px;
}
.conteiner-text {
  padding-left: 100px;
}
.text-me {
  font-size: var(--font-size16);
  color: var(--color-black);
  line-height: var(--line-height-text);
  margin-bottom: 50px;
}
.skills-text {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.container-skills {
  margin-bottom: 50px;
}
.container-skills:last-child {
  margin-bottom: 0;
}
.box {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: var(--font-size16);
  margin-bottom: 15px;
}
.box:last-child {
  margin-bottom: 0px;
}
.box i {
  color: var(--color-orange);
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
  .conteiner-text {
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 0 30px;
  }
  .soft-skills-container {
    width: 50%;
  }
  .text-me {
    width: 50%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .conteiner-text {
    display: block;
  }
  .text-me {
    width: 100%;
    margin-bottom: 50px;
  }
  .soft-skills-container {
    width: 100%;
  }
}
