.wrapper {
  width: 90%;
  margin-bottom: 50px;
}
.conteiner-text {
  padding-left: 100px;
}
.text-me {
  font-size: var(--font-size16);
  color: var(--color-black);
  line-height: 24px;
  margin-bottom: 50px;
}
.skills-text {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.container-skills{
  margin-bottom: 50px;
}
.container-skills:last-child{
  margin-bottom: 0;
}
.box {
  display: flex;
  align-items: center;
  font-size: var(--font-size16);
  margin-bottom: 15px;
}
.box:last-child {
  margin-bottom: 0px;
}
