.wrapper {
  width: 90%;
}
.conteiner-text {
  padding-left: 100px;
}
.text-me {
  font-size: var(--font-size16);
  color: var(--color-black);
  line-height: 24px;
  margin-bottom: 50px;
}
.skills-text {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
