.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.wrapper i {
  margin-right: 15px;
  color: var(--color-orange);
  font-size: var(--font-size24);
}
.text {
  font-size: var(--font-size24);
  color: var(--color-white);
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .wrapper a {
    font-size: 5vw;
  }
}