.wrapper {
  overflow: hidden;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.container1 {
  display: flex;
}
.container2 {
  display: none;
}

@media screen and (max-width: 1280px) {
  .container2 {
    display: block;
  }
  .container1 {
    display: none;
  }
}
