.wrapper {
  background: var(--color-orange);
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 50px;
  font-size: var(--font-size35);
  padding-right: 50px;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    color: var(--color-white);
    font-size: 5vw;
  }
}
