.wrapper {
  background: var(--color-orange);
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 50px;
  font-size: var(--font-size35);
  padding-right: 50px;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 500;
}

