.wrapper {
  position: relative;
  width: 100%;
  height: 35px;
  background: #333333;
  margin-bottom: 70px;
}
.wrapper:last-child {
  margin-bottom: 0;
}
.container-progres {
  height: 100%;
  background: var(--color-orange);
  padding-left: 20px;
  transition: 'width 4s';
}
.progres {
  font-size: var(--font-size24);
  color: var(--color-white);
  line-height: 35px;
}
.title {
  font-size: var(--font-size24);
  color: var(--color-white);
  text-transform: uppercase;
  position: absolute;
  top: -30px;
}

