.wrapper {
  border: 3px solid var(--color-orange);
  text-align: center;
  padding: 10px 0;
  color: var(--color-white);
  font-weight: 500;
  font-size: var(--font-size35);
  margin-bottom: 100px;
  text-transform: uppercase;
}
